node_modules
**/node_modules
dist
**/dist
.env
credentials.json
server/uploads/*
!server/uploads/.gitkeep
server/data/*
!server/data/.gitkeep
server/data/google-service-account.json
server/public
*.log
